<nav class="navbar navbar-dark " style ="background-image: linear-gradient(to right, tomato, purple);">
    <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" alt="" style="width: 45%;">
    </a>
    <ul class="navbar nav" style="margin-right:10% ;">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories" style="color: seashell;">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles" style="color: seashell;">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users" style="color: seashell;">Usuários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout" style="color: seashell;"><img style="width: 35%;" src="/assets/logout.png" alt="logout" srcset=""></a>
        </li>
    </ul>
</nav>